<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OO Design Quality Metrics</title>
    <link rel="icon" type="image/png" sizes="16x16" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEU0OkArMjhobHEoPUPFEBIuO0L+AAC2FBZ2JyuNICOfGx7xAwTjCAlCNTvVDA1aLzQ3COjMAAAAVUlEQVQI12NgwAaCDSA0888GCItjn0szWGBJTVoGSCjWs8TleQCQYV95evdxkFT8Kpe0PLDi5WfKd4LUsN5zS1sKFolt8bwAZrCaGqNYJAgFDEpQAAAzmxafI4vZWwAAAABJRU5ErkJggg==" />
    <style>
      body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif;
      }

      .name {
        font-weight: bolder;
        min-width: 200px;
        width: 30%;
      }

      .value {
        width: 70%;
      }
    </style>
  </head>
  <body>
    <script>
      function drawDiagram(name, abstractness, instability) {
        const canvas = document.getElementById(name)
        const ctx = canvas.getContext('2d')

        ctx.lineWidth = 2
        ctx.beginPath()
        ctx.moveTo(50, 50)
        ctx.lineTo(50, 500)
        ctx.lineTo(500, 500)
        ctx.stroke()

        ctx.beginPath()
        ctx.moveTo(450, 500)
        ctx.lineTo(50, 100)
        ctx.stroke()

        ctx.beginPath()
        ctx.lineWidth = 5
        ctx.arc(50, 100, 3, 0 * Math.PI, 2 * Math.PI)
        ctx.stroke()

        ctx.beginPath()
        ctx.lineWidth = 5
        ctx.arc(450, 500, 3, 0 * Math.PI, 2 * Math.PI)
        ctx.stroke()

        ctx.beginPath()
        ctx.lineWidth = 2
        ctx.arc(50, 500, 200, 1.5 * Math.PI, 2 * Math.PI)
        ctx.stroke()

        ctx.font = '22px serif'
        ctx.fillText('Instability', 230, 520)
        ctx.save()

        ctx.font = '22px serif'
        ctx.fillText('Zone of Pain', 70, 450)
        ctx.save()

        ctx.rotate(-Math.PI / 2)
        ctx.font = '22px serif'
        ctx.fillText('Abstractness', -350, 40)
        ctx.restore()

        ctx.font = '15px serif'
        ctx.fillText('(0,1)', 10, 100)
        ctx.fillText('(1,0)', 450, 520)

        ctx.beginPath()
        ctx.strokeStyle = 'red'
        ctx.arc(
          50 + instability * 400,
          500 - 400 * abstractness,
          5,
          0,
          2 * Math.PI
        )
        ctx.stroke()
      }
    </script>

    <h1>OO Design Quality Metrics</h1>

    <template id="module-block">
      <h2></h2>
      <table>

      </table>
      <canvas id="" width="550" height="550"></canvas>
    </template>

    <template id="data-row">
      <tr>
        <td class="name">Lines per Method</td>
        <td class="value"></td>
      </tr>
    </template>

    <script>
      let testdata = [
        {
          name: "j-mod-1",
          classes: 10,
          abstractness: 0.0,
          ca: 1,
          ce: 2,
          instability: 1.0,
          distance: 0.3
        },
        {
          name: "j-mod-2",
          classes: 14,
          abstractness: 0.4,
          ca: 1,
          ce: 2,
          instability: 0.3,
          distance: 0.3
        }
      ];

      let data = ##data##;

      function addDataRow(table, name, value){
        const template = document.querySelector('#data-row')
        const tr = template.content.cloneNode(true)
        let td = tr.querySelectorAll('td')
        td[0].textContent = name;
        td[1].textContent = value;
        table.appendChild(tr);
      }

      data.forEach(d => {
        const template = document.querySelector('#module-block')
        const clone = template.content.cloneNode(true)

        let title = clone.querySelectorAll('h2')
        title[0].textContent = d.name;

        let table = clone.querySelectorAll('table')[0];

        addDataRow(table, "Number of Classes", d.numberOfClasses);
        addDataRow(table, "Abstractness", d.abstractness.toFixed(2));
        addDataRow(table, "Afferent Couplings (Ca)", d.ca.toFixed(0));
        addDataRow(table, "Efferent Couplings (Ce)", d.ce.toFixed(0));
        addDataRow(table, "Instability", d.instability.toFixed(2));
        addDataRow(table, "Distance", d.distance.toFixed(2));
        addDataRow(table, "Average Methods per Class", d.averageMethodsPerClass.toFixed(2));
        addDataRow(table, "Average Public Methods per Class", d.averagePublicMethodsPerClass.toFixed(2));
        addDataRow(table, "Average LCOM4", d.lcom4.toFixed(2));
        addDataRow(table, "Share of Getters/Setters", (d.shareGetterSetters * 100).toFixed(2) + "%");
        addDataRow(table, "Share of methods with local calls", (d.shareLocalCallMethods * 100).toFixed(2) + "%");

        addDataRow(table, "Mean Lines per Method", d.methodStatistics.mean.toFixed(2));
        addDataRow(table, "Median Lines per Method", d.methodStatistics.median.toFixed(2));
        addDataRow(table, "Percentile 25", d.methodStatistics.percentile25.toFixed(2));
        addDataRow(table, "Percentile 75", d.methodStatistics.percentile75.toFixed(2));
        addDataRow(table, "Percentile 80", d.methodStatistics.percentile80.toFixed(2));
        addDataRow(table, "Percentile 90", d.methodStatistics.percentile90.toFixed(2));
        addDataRow(table, "Percentile 95", d.methodStatistics.percentile95.toFixed(2));
        addDataRow(table, "Percentile 99", d.methodStatistics.percentile99.toFixed(2));

        let canvas = clone.querySelectorAll('canvas')
        canvas[0].id = "c-"+d.name;
        template.parentElement.appendChild(clone);
        drawDiagram(canvas[0].id, d.abstractness, d.instability);

      });
    </script>
  </body>
</html>
